---
import Card from "../../elements/CardStatistic.astro";
const card={
    title:'100%',
    body:'LOREM IPSUM'
};
---
<section class="grid grid-cols-4 py-10 bg-gray-200 text-gray-800">
    <Card title={card.title} body={card.body}/>
    <Card title={card.title} body={card.body}/>
    <Card title={card.title} body={card.body}/>
    <Card title={card.title} body={card.body}/>
</section>