---
import Card from "../../elements/CardTestimonials.astro";

const card={
	title:'Title',
	body:'Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit perspiciatis numquam illo debitis ipsa facilis, excepturi non, nostrum autem perferendis recusandae tempore eaque doloremque, voluptatibus odit distinctio esse deleniti placeat!',
	srcimg:'https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg'
};
---
<h2 class="font-bold text-2xl py-10">Testimonios</h2>
<section class="grid grid-cols-3">
    <Card title={card.title} body={card.body} srcimg={card.srcimg} />
    <Card title={card.title} body={card.body} srcimg={card.srcimg}/>
    <Card title={card.title} body={card.body} srcimg={card.srcimg}/>
</section>